  
#clipboard {
    width:938px;
    margin:18px auto;
    text-align:left;
    background:#fff;
    border:1px solid #bbb;
    position: relative;
}

#clipboard h1 {
    margin:1px;
    padding:2px 0 4px 6px;
    background:#b3b6b3 url("../../../themes/default/images/headline.gif") repeat-x;
    color:#fff;
}

#clipboard div {
    margin:0;
    padding:10px 8px 0;
    color:#666966;
    overflow:hidden;
    /* height:40px; */
}

#clipboard .button {
    position:absolute;
    right:25px;
    top:42px;
}

#clipboard .button.inactive {
    opacity:0;
}

#clipboard .button.active {
    opacity:1;
}

#clipboard button {
    border:0;
    font-family:Verdana, sans-serif;
    background-color:transparent;
    padding:0;
    font-size:11px;
    color:#666966;
}

#clipboard ul {
    list-style:none;
    padding:0 8px;
    margin:5px 0;
}

#clipboard li {
    overflow:hidden;
    width:auto;
}

#clipboard li p {
    float:left;
    margin-right:10px;
}

#clipboard li p.edit {
    padding-top:3px;
}  

#clipboard li span, 
#clipboard li input.empty {
    color:#aaaaaa;
}

#clipboard li input.text {
    width:400px;
    font-family:Verdana, sans-serif;
    border:1px solid #fff;
    padding:2px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}

#clipboard li input.edit {
    border-color: #bbb;
}

/*------------------------------------------------------------------------*/

/**
 * Context menu
*/

#clipboardmenu {
    display:block;
    position:absolute;
    z-index:99999999;
    background:#fff;
    border:1px solid #ccc;
    padding:3px 6px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-right:12px;
}

#clipboardmenu a {
    display:block;
    line-height:1;
    padding:3px 0 2px 0;
    white-space:nowrap;
}

#clipboardmenu img {
    padding-bottom:1px;
    vertical-align:middle;
}